.action-node {
  border: solid;
}

.action-button {
  width: 100%;
  color: blue;
}

.decision-node {
  border: solid;
  color: blueviolet;
}

.lead-node {
  border: solid;
  color: brown;
}

.condition-node {
  border: solid;
}